html, body, main, #root {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  font: 14px serif;
  /* padding: 12px; */
  height: 100%;
  /* max-width: 420px; */
  /* background-color: #eeffff; */
  /* background: radial-gradient(#00e180, #008049); */
  /* width: 100%; */
  /* height: 450px; */
}

/* .game {
  display: flex;
  flex-direction: row;
} */

.start {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.start img {
  margin: 30px 0;
  height: 90px;
  cursor: pointer;
}
.start a {
  margin: 30px 0;
  font-size: large;
}


/* #root {
  height: 100%;
  text-align: center;
  max-width: 375px;
} */

.cover {
  padding: 12px;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  background: radial-gradient(#00e180, #008049);
}

.board {
  width: 375px;
  max-width: 100%;
  margin: auto;
  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
}

.boardIn {
  height: 510px;
  /* display: flex; */
  align-items: center;
}

.effectButton {
  display: flex;
  justify-content: left;
}
.effectimg {
  width: 80px;
  cursor: pointer;
}
.effect {
  height: 98%;
  width: 95%;
  margin: auto;
  padding: 0.5rem 1rem;
  background: radial-gradient(#00e180, #008049);
  color: black;
  font-weight: bold;
}
.effect h5 {
  margin: 0.25rem 0 0;
  text-align: start;
  font-size: 14px;
  line-height: 1.1rem;
}
.effect p {
  margin: 0 0 0.4rem 1rem!important;
  text-align: start;
  font-size: 12px;
  line-height: 1rem;
}
.effectState {
  width: max-content;
  margin: auto;
}

.hand {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.handimg {
  height: 100px;
  width: 75px;
  margin: 5px;
}


.field {
  height: 60px;
  width: 100%;
  max-width: 375px;
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  margin: 0!important;
}

.cardField {
  height: 40px;
  width: 30px;
  border: solid;
  /* text-align: center;
  vertical-align: middle; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}


.center {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.center h3{
  font-size: 16px;
}

.event {
  height: 95%;
  width: 95%;
  background: radial-gradient(#00e180, #008049);
  display: flex;
  align-items: center;
  justify-content: center;
}


.board h3 {
  margin: 0.5rem;
}

.board p {
  /* width: fit-content; */
  margin: 0.5rem;
}

.board button {
  /* size: 1.5rem; */
  margin: 1rem 0.2rem;
}

#buttonTwo {
  margin: 0.2rem;
}


.link {
  color: navy;
  text-decoration:underline;
  text-align: right;
  cursor: pointer;
}

.cover a {
  color: navy;
  text-decoration:underline;
}

.winner h3 {
  font-size: xx-large;
  font-weight: 900;
}

#title {
  width: 250px;
  height: auto;
  margin: 60px;
}

.start a {
  margin: 0;
}